.final{
    background-color: #fff;
}
.contactus{
    text-align: center;
    margin: 128px 0 64px 0;
}
.contactus__h2{
    font-family: sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
}
.contactus__paragrph{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 16px;
}

.information{
    background-color: #F4F6FC;
    flex-wrap: wrap;
    margin: 64px 0 120px 0;
}
.information__first{
    display: flex;             
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.information__first-input{
    margin: 15px 0;
}
.information__label{
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}
.information__input{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding: 18px 274px 18px 32px;
    background: #F4F6FC;
    border: 1px solid #0000001F;
    border-radius: 8px;
}

.form_input__label{
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}
.form_input__input{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    width: 1100px;
    padding: 18px 0 90px 32px;
    border-radius: 8px;
    border: 1px solid #0000001F;
    background: #F4F6FC;
}
.form__btn{    
    margin-bottom: 50px; 
}
.btn_send{
    border-radius: 40px;
    padding: 16px 48px;
    border: 1px solid #F4F6FC33;
    background: #1C1E53;
    letter-spacing: 1px;
    color: #fff;
    margin: 30px 0 50px 95px;
}
@media screen and (max-width: 1210px) {
    .form_input__input{
        width: 390px;
    }
    .information__input{
        width: 390px;
    }
    .form_input{
        width: 390px;
    }
    
}


