.work__bg{
    background: #F4F6FC;
}
.portfolio{
    text-align: center;
    margin: 95px 0;
}
.portfolio__created{
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}
.portfolio__work{
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    padding: 4px 0 24px 0;
    font-family: sans-serif;
}
.portfolio__paragrph{
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    font-family: sans-serif;
    opacity: 70%;
}
.portfolio__img{
    color: black;
    margin-top: 32px;
}
@media screen and (max-width: 635px) {
    .portfolio__paragrph{
        font-size: 10px;
        font-weight: 500;
        gap: 20px;
    }
    .portfolio__work{
        font-size: 30px;
        font-weight: 600;
    }
}
.all{
    background-color: #fff;
}

.card__h2{
    font-size: 38px;
    font-weight: 600;
    line-height: 56px;
    text-align: left;
}
.card__paragrph{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    opacity: 70%;
    padding: 12px 0 24px 0;
    text-align: left;
}
.design_itm{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0 400px;
    margin-top: 90px;
}
.design_list-link{
    text-decoration: none;
    color: black;
}
.design_list-link:hover{
       color:  #2405F2;
}

.design{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 30px;
   margin: 50px 0 125px 0;
}

.view{
    display: flex;
}
.view__h3{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.view__img{
    padding-left: 18px;
    letter-spacing: 1px;
}
@media screen and(max-width: 1215px) {
    .design_itm{

    }
}
@media screen and(max-width: 1286px) {
    .card{
       
    }
}
@media screen and (max-width: 630px) {
    .card__img{
        width: 420px;
    }
}



.build{
    background-color: #fff;
}
.great{
    text-align: center;
}
.great__h2{
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    font-family: sans-serif;
}
.great__paragrph{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin: 20px 0 40px 0;
    font-family: sans-serif;
}
.great__btn{
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    border-radius: 40px;
    background: #FCD980;
    padding: 16px 66px;
    border: none;
    margin-bottom: 128px;
    font-family: sans-serif;
}
